target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

deploy/
*.deb
*.exe
*.msi
*.rpm

.idea/
*.iml
*.iws
*.ipr
out/

.DS_Store
Thumbs.db

*.db